body{
	width : 250px;
	height: 100px;
}

#content{
	margin-top: 8%;
	margin-left: 10%;
	margin-bottom : 8%;
}

#data{
	margin: 0 auto;
}

.lt{
	width: 200px;
	margin: 0 auto;
}

.sb{
	margin-top: 20px;
	margin-left: 23%;
	width: 90px;
	height: 30px;
}

